{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/chat.css') }}">
    <title>Welcome to Path_Chat</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            // Use a "/test" namespace.
            // An application can open a connection on multiple namespaces, and
            // Socket.IO will multiplex all those connections on a single
            // physical channel. If you don't care about multiple channels, you
            // can set the namespace to an empty string.
            namespace = '/test';

            // Connect to the Socket.IO server.
            // The connection URL has the following format:
            //     http[s]://<domain>:<port>[/<namespace>]
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

            // Event handler for new connections.
            // The callback function is invoked when a connection with the
            // server is established.
            socket.on('connect', function() {
                socket.emit('my_event', {data: 'I\'m connected!'});
            });

            // Event handler for server sent data.
            // The callback function is invoked whenever the server emits data
            // to the client. The data is then displayed in the "Received"
            // section of the page.
            socket.on('my_response', function(msg) {
                $('#log').append('<br>' + $('<div/>').text('Received #' + msg.count + ': ' + msg.data).html());
                //move log window to bottom after new text is entered
                $("#log").scrollTop($("#log")[0].scrollHeight);
            });



            // Handlers for the different forms in the page.
            // These accept data from the user and send it to the server in a
            // variety of ways

            $('form#broadcast').submit(function(event) {
                 socket.emit('my_broadcast_event', {data: $('#broadcast_data').val()});
                 // reset chat window to blank
                 document.getElementById("broadcast").reset();
                 return false;
             });

        });
    </script>

</head>
<body>
  <script>
  function submit_form() {
  document.broadcast.submit();
  document.broadcast_data.reset();
  }
  </script>
    <div class="row">
      <div class="column">
        <!--left side of page-->
        <h1>Welcome to Path Chat</h1>
        <div style="overflow: auto; width:600px; height:400px; background-color: #ffffcc; border-style: solid;
        border-width: medium; border-radius: 8px;" id="log">
        </div>

        <form id="broadcast" method="POST" action='#'>
                <input type="text" name="broadcast_data" style="width:460px;" id="broadcast_data">
                <input type="submit" value="Send Message" onclick="submit_form()">
        </form>
      </div>
      <!--right side of page-->
      <div class="column">
      <h1>Slide ID:200-001-Trichrome-001</h1>
      <!-- can we use a websocket range slider here so both users scroll the same image? -->
        <div id="image_container">
          <img src="static/images/Tri.jpg" alt="Tri broken" style="width:600px; height:400px;">
        </div>
      </div>
    </div>







{% endblock %}
