{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
<div id="container">

    <!-- Each image is 350px by 233px -->
    <div class="photobanner">
    	<img class="first" src="static/images/AB.jpg" alt="AB broken" style="width:350px;height:233px;" >
    	<img src="static/images/Giemsa.jpeg" alt="Giemsa broken" style="width:350px;height:233px;">
    	<img src="static/images/GMS.jpg" alt="GMS broken" style="width:350px;height:233px;">
    	<img src="static/images/HE.jpg" alt="HE broken" style="width:350px;height:233px;">
    	<img src="static/images/PAS.jpg" alt="PAS broken" style="width:350px;height:233px;">
    	<!-- <img src="static/images/Tri.jpg" alt="Tri broken" style="width:350px;height:233px;"> -->
      <img src="static/images/WS.jpg" alt="WS broken" style="width:350px;height:233px;">
    	<img src="static/images/AB.jpg" alt="AB broken" style="width:350px;height:233px;">
    	<img src="static/images/Giemsa.jpeg" alt="Giemsa broken" style="width:350px;height:233px;">
    	<img src="static/images/GMS.jpg" alt="GMS broken" style="width:350px;height:233px;">
    	<img src="static/images/HE.jpg" alt="HE broken" style="width:350px;height:233px;">
    </div>
</div>
    <h1> Hi, {{current_user.first_name|capitalize+' '+current_user.last_name|capitalize}}</h1>
    <br>
    <br>
    <h3>Thank you for logging in. Path Chat is the home for all of your slide viewing and collaboration needs!</h3>
    <div class="peloris"></div>
    <div id="peloris_text">
    <p>Mega Awesome Histology in association with Path Chat Industries can provide
      the world's finest tissue processing service using both state of the art procotols
      and state of the art equipment.  With work being performed by the best histotechs in
      the industry</p>
    </div>
    <div class="embed"</div>
    <div id="embed_text">
    <p>Following tissue processing your samples will be paraffin embedded following strict SOP and customer guidelines.
      Difficult and customized requests are our speciality with work being carried out by senior level staff.</p>
    </div
{% endblock %}
