* {margin: 0; padding: 0;}


#container {
 width: 1000px;
 overflow: hidden;
 margin: 10px auto;
 background: black;
 border-color: grey;
 border-style: inset;
 border-width: 10px;
}

/*photobanner*/

.photobanner {
 height: 233px;
 width: 3550px;
 margin-bottom: 5px;
 margin-top: 5px;
}

.photobanner img {
 -webkit-transition: all 0.5s ease;
 -o-transition: all 0.5s ease;
 -ms-transition: all 0.5s ease;
 transition: all 0.5s ease;
}

.photobanner img:hover {
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
 -ms-transform: scale(1.1);
 transform: scale(1.1);
 cursor: default;

 -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
 -moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
 box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}

/*keyframe animations*/
.first {
 -webkit-animation: bannermove 40s linear infinite;
    -moz-animation: bannermove 40s linear infinite;
     -ms-animation: bannermove 40s linear infinite;
      -o-animation: bannermove 40s linear infinite;
         animation: bannermove 40s linear infinite;
}

@keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -2125px;
 }

}

@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }

}

@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }

}

@-ms-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }

}

@-o-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }

}
